
.image {
    border-radius: 8px;
}

.font {
    font-family: 'Macterla';
}

@media screen and (max-width: 993px) {
    .randomContainer {
        display: flex;
        flex-direction: column-reverse;

    }

    .image {
        margin: auto
    }
}